# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Streamlit secrets
.streamlit/secrets.toml

# System files
.directory

# Model files
*.joblib
*.pkl

# Logs and temp
*.log
YPMPP 102792
google-chrome.desktop

